<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        h1   {color: blue;}
        p    {color: red;}

    }
    </style>
    <script>
        window.onhashchnage(function(){})
        window.location.hash = '/'
    </script>
    <meta charset="UTF-8">
    <title>Response</title>

</head>

<body>
<div align="center">
<h1>Thanks for Participating</h1>
    <br><br>
<h4>You Picked {{ response1 }} for Match1</h4>
<h4>You Picked {{ response2 }} for Match2</h4>

<br><br>
<a href="/knowyourscore/">Know Your Score</a>
        <br><br>

<a href="/leaderboard/">Leader Board</a>
</div>
</body>
</html>
