<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        h1   {color: blue;}
        p    {color: red;}
    }
    </style>
    <meta charset="UTF-8">
    <title>MNIPL</title>
</head>
<body>

<div class="container" align="center">
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>

    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
        <br><br>

    </form>
</div>


</body>
</html>