<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        h1   {color: blue;}
        p    {color: red;}
    }
    </style>
    <meta charset="UTF-8">
    <title>MNIPL</title>
</head>
<body>

<div class="container" align="center">
    <h1>MNIPL</h1>
    <form action="/result/" method="post">{% csrf_token %}
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
        <br><br>
        <a href="/knowyourscore/">Know Your Score</a>
    </form>
</div>


</body>
</html>